html{
   box-sizing: border-box;
}
*,
*::after,
*::before{
   box-sizing: inherit;
}
html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    
}
a{
   display: inline-block;
   text-decoration: none;
}
ul,
li{
   margin: 0;
   padding: 0;
   list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
   padding: 0;
   margin: 0;
}
h1{
   font-size: 2.5rem;
   
   font-family: 'Red Hat Display', sans-serif;
   font-weight: 900;
}
h2{
   font-size: 1.5rem;
   line-height: 1.25;
   font-family: 'Red Hat Display', sans-serif;
   font-weight: 900;
}
h3{
   font-size: 1.25rem;
   font-family: 'Red Hat Display', sans-serif;
   font-weight: 900;
}
h4{
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   font-size: 1.125rem;
}
h5{
   font-size: 1rem;
   font-family: 'Red Hat Display', sans-serif;
   font-weight: 900;
   line-height: 1.25rem;
}

body{
   // font-family: 'Chakra Petch', sans-serif;
   font-family: 'Inter', sans-serif;
   // font-family: 'Red Hat Display', sans-serif;
   font-weight: 400;
   color: #000;
}
p{
   line-height: 1.5;
   font-size: 1.125rem;
}

.container{
   padding: 0 15px;
   margin: 0 auto;
   max-width: 1390px;
   width: 100%;
   
}
.esports-menu{
   height: 40px;
   background-color: #ccc;
 
}

.link{
   font-family: 'Red Hat Display', sans-serif;
   font-weight: 900;
   color: $red;
   font-size: 1rem;
   position: relative;
   padding-left: 24px;
   text-transform: uppercase;
}
.full-link{
   background-color: $blue;
   color: #fff;
   margin-top: 13px;
   margin-left: 71px;
   padding: 10px 39.3px 10px 19.3px;
   border-radius: 5.1px;
   &::before{
      content: '';
      position: absolute;
      right: 17px;
      background-image: url('../images/svg/arrow.svg');
      width: 15px;
      height: 14px;
      background-size: cover;
      background-repeat: no-repeat;

   }
}
.datum{
   font-size: 0.75rem;
   color: #fff;
   background-color: $red;
   display: inline-block;
   padding: 6px 17px 5px 16px;
}
.tag{
   font-size: 1rem;
   background-color: #fff;
   color: $blue;
}
.win{
   color:  $green;
}