.header{
   
   &__inner{
      background-color: $blue;
      color: #fff;
      border-bottom: 5px sollid $red; 
      border-bottom: 5px solid $red;
      width: 100%;
      z-index: 999;
      &.sticky{
         top: 0;
         // position: fixed;
         .navigation__logo-right{
            width: 90px;
            top: 5px;
            height: 80px;
         }
         .navigation__logo--left{
            width: 80px;
            height: 80px;
            top: 10px;
         }
      }
   }
}

.head{
   display: flex;
   padding-right: 169px;
   padding-left: 232px;
   height: 60px;
   align-items: center;
   &__rozpis{
      &::before{
         content: '';
         position: absolute;
         left: 0;
         background-image: url('../images/svg/list.svg');
         width: 16px;
         height: 16px;
      }
   }
   &__kis{
      margin-left: 16px;
      &::before{
         content: '';
         position: absolute;
         left: 0;
         background-image: url('../images/svg/user.svg');
         width: 16px;
         height: 16px;
      }
   }
   &__col{
      display: flex;
      align-items: center;
      &:nth-child(2){
      margin-left: auto;
      }
   }
   h1{
      color: #002469;
      text-transform: uppercase;
      margin-right: 64px;
      font-weight: 700;
      font-family: 'Chakra Petch', sans-serif;
   }
   &__liga{
      color: $red;
      text-transform: uppercase;
      font-size: 0.5rem;
      font-weight: 700;
      position: relative;
      max-width: 75px;
      &::before{
         content: '';
         position: absolute;
         background-image: url('../images/svg/trophy.svg');
         width: 16px;
         height: 16px;
         left: -24px;
      }
   }
}

.navigation{
   position: relative;
   
 
   &__logo--left{
      width: 169px;
      height: 160px;
      
      transition: all .4s;
      position: absolute;
      left: 32px;
      top: -50px;
      &:hover{
         transform: scale(1.1);
      }
     
      a{
         background-size: cover;
         background-repeat: no-repeat;
         width: 100%;
         height: 100%;
         display: block;
         
      }
   }
   &__logo-right {
      width: 145.4px;
      height: 136px;
      position: absolute;
      right: 0;
      top: -50px;
      
      transition: all .4s;
      &:hover{
         transform: scale(1.1);
      }
      a{
         display: block;
         width: 100%;
         height: 100%;
         background-repeat: no-repeat;
         background-size: cover;
      }
   }
   &__menu{
      display: flex;
      
      padding-left: 223px;
   }
   &__list{
      display: block;
     
      position: relative;
      &--mob{
         display: none;
      }
      &:hover {
         .navigation__item{
            background-color: $red;
         }
         .dropdown-menu {
          max-height: 600px;
          transition: all 0.8s;
          display: block;
          z-index: 28;
      }
    }
     
   }
   &__list + &__list{
      margin-left: 8px;
      padding-left: 7px;
      &::before{
         content: '';
         position: absolute;
         width: 1px;
         height: 11px;
         left: -2px;
         background-color: $red;
         top: 30px;
        
      }
   }
   &__item{
      padding: 26px 10px 24px 9px;
      text-transform: uppercase;
      font-family: 'Red Hat Display', sans-serif;
      font-weight: 900;
      line-height: 1.25;
      font-size: 1rem;
      cursor: pointer;
     
   }
}
.dropdown-menu {
   display: none;
   position: absolute;
   z-index: 888;
  width: max-content;
   padding: 6px 20px 15px 16px;
   background-color: $red;
   border-radius: 5px;
   &__list {
     width: 100%;
     position: relative;
     padding-left: 17px;
     &:hover {
      text-decoration: underline;
      background-color: $blue;
    }
     &::before{
        content: '';
        position: absolute;
        height: 11px;
        width: 1px;
        top: 11px;
        left: 0;
        background-color: $blue;
     }
   }
 }
 .dropdown-menu__list a {
   text-transform: uppercase;
   font-family: 'Red Hat Display', sans-serif;
   font-weight: 900;
   line-height: 1.25;
   font-size: 1rem;
   cursor: pointer;
   width: 100%;
   color: #fff;
   padding: 7px 0 0 0;
 

 }

 /// burger
.navbar__menu {
   border-radius: 10px;
   position: relative;
   display: none;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   cursor: pointer;
   transition: all 0.5s ease-in-out;
 }
 .navbar__menu-btn {
   width: 30px;
   height: 4px;
   background: #fff;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(255, 103, 47, 0.2);
   transition: all 0.5s ease-in-out;
 
   &::before,
   &::after {
     content: '';
     position: absolute;
     width: 30px;
     height: 4px;
     background: #fff;
     border-radius: 5px;
     box-shadow: 0 2px 5px rgba(255, 103, 47, 0.2);
     transition: all 0.5s ease-in-out;
   }
   &::before {
     transform: translateY(-10px);
   }
   &::after {
     transform: translateY(10px);
   }
 }
 

 .navbar__menu.open .navbar__menu-btn {
   transform: translateX(-50px);
   background: transparent;
   box-shadow: none;
   &::before {
     transform: rotate(45deg) translate(35px, -35px);
   }
   &::after {
     transform: rotate(-45deg) translate(35px, 35px);
   }
 }

 @media(max-width:1240px){
   .head h1{
      font-size: 1.8rem;
   }
 }

 @media(max-width:1150px){
   
   .head h1{
      display: none;
   }
 }
 @media(max-width:1040px){
  .header{
   .navigation__list:hover .navigation__item{
      background-color: $blue;
   }
    .navbar__menu{
       display: flex;
       margin-left: auto;

    }
    .navigation__item{
       border-bottom: 1px solid $red;
      margin: 0 20px;
    }
    .navigation__list{
       width: 100%;
       text-align: center;
      
       
      &:hover .dropdown-menu{
         height: 0;
         position: static;
         transition: all 0s;
         display: none;
      }
      &.active .dropdown-menu{
         height: 100%;
         display: block;
       }
       &--mob{
          display: block;
          .social{
             justify-content: center;
             padding-top: 25px;
          }
          .head__rozpis::before{
             background-image: url('../images/svg/trophy-mob.svg');
          }
       }
    }
    .head{
       display: none;
    }
    .navigation__list+.navigation__list{
       margin-left: 0;
       
      
       &::before{
          display: none;
       }
    }
    .navigation__menu{
       max-width: 320px;
       width: 100%;
       padding-left: 0;
       display: none;
       background-color: $blue;
       right: -15px;
       position: absolute;
       z-index: 99;
       top: 55px;
       padding-bottom: 25px;
    }
    .dropdown-menu__list{
       padding-left: 0;
       &::before{
          display: none;
       }
    }
    .header__inner.sticky .navigation__logo--left{
       width: 65px;
       height: 65px;
       top: 5px;
    }
    .header__inner.sticky .navigation__logo-right{
       width: 75px;
       height: 65px;
       top: 5px;
    }
    .navigation__logo--left ,
    .navigation__logo-right {
      width: 100px;
      height: 90px;
      z-index: 999;
      background-size: contain;
      left: 15px;
      top: -20px;
    }
    .navigation__logo-right {
      right: 60px;
      left: auto;
   }
   .dropdown-menu{
      max-width: 320px;
      width: 100%;
      &__list a{
         padding: 7px 0;
      }
   }
  }
  
 }
 
 @media(max-width: 600px){
  .header{
   .navigation__logo--left a{
      left: 0;
   }
   .navigation__logo--left a, .navigation__logo-right a{
      top: -6px;
      width: 77px;
      height: 70px;
   }
   .navigation__logo-right a{
      right: auto;
      left: 90px;
   }
  }
 }
 @media(max-width: 420px){
  .header{
   .navigation__logo--left a{
      left: 15px;
   }
   .navigation__logo-right a{
      left: 105px;
   }
   .navigation__menu,
   .dropdown-menu{
      max-width: 100%;
      right: 0;
   }
    .header__inner{
       .container{
          padding: 0;
       }
    }
  }
 }